#caixa {
  margin: 5px;
  padding: 3px;
  border: 2px dashed red;
}

#caixa2 {
  margin: 20px;
  padding: 10px;
  border: 3px groove #C0C0C0;
  
  width: 200px; /*comprimento fixo*/
  height: 100px; /*altura fixa*/
}